<script src="https://ui.powerreviews.com/stable/4.1/ui.js" async></script>
<div id="pr-write"></div>
<script>
  window.pwr = window.pwr || function () {
    (pwr.q = pwr.q || []).push(arguments);
  };
   pwr("render", {
    api_key: '{{ block.settings.api_key }}',
    locale: '{{ block.settings.locale }}',
    merchant_group_id: '{{ block.settings.merchant_group_id }}',
    merchant_id: '{{ block.settings.merchant_id }}',
    on_submit:function(config, data){
         window.scrollTo(0,0);
     },
    components: {
      Write: 'pr-write'
    }
  });
</script>
{% schema %}
{
  "name": "PWR-WAR",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "api_key",
      "label": "API Key",
      "default": "Enter text here"
    },
    {
      "type": "text",
      "id": "locale",
      "label": "Locale",
      "default": "en_US"
    },
    {
      "type": "text",
      "id": "merchant_group_id",
      "label": "Merchant Group ID",
      "default": "Enter text here"
    },
    {
      "type": "text",
      "id": "merchant_id",
      "label": "Merchant ID",
      "default": "Enter text here"
    }
  ]
}
{% endschema %}
