<!-- start_pwr_category_snippet -->
<div class="pwr-category-snippets" style="">
    <div id="snippet-{{ product.handle }}"></div>
  </div>
<!-- end_pwr_category_snippet -->
{% schema %}
{
  "name": "PWR-snippet",
  "target": "section",
  "settings": []
}
{% endschema %}